@charset "utf-8";
/* CSS Document */
html{
	
}


body{
	min-height: 100vh;
	background-image:url("../images/sunrise-1756274_1920.jpg");
	
}

#content {
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	background-color: white;
}
h3 {
	 font-size:30px;
	 color: red;
}
p {
	font-size:20px;
		 }

nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	display:inline-grid;
	padding: 30px;

	
}
nav{
	background-color: black;
	position: fixed;
/*	width: 100%;*/
}
